<div class="container">
  <h3 class="h3">Lista de Transacciones Objeto</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>
          <!-- Verifica si existen inventario y artículo antes de intentar acceder -->
          {{ inventoryMap[transaction.inventory_id] ?
              (articleMap[inventoryMap[transaction.inventory_id].article_id].name || 'Desconocido') :
              'Inventario no encontrado' }}
          ({{ inventoryMap[transaction.inventory_id] ?
              (articleMap[inventoryMap[transaction.inventory_id].article_id].identifier || 'Sin Identificador') : '' }})
        </td>
        <td class="text-center">{{ transaction.quantity }}</td>
        <td class="text-center">{{ transaction.price || '-' }}</td>
        <td>{{ transaction.transaction_type }}</td>
        <td>
          <!-- Botón para editar la transacción -->
          <button (click)="editTransaction(transaction)" class="btn btn-warning btn-sm" title="Editar" data-toggle="tooltip" data-placement="top">
            <i class="bi bi-pencil"></i>
          </button>
          <!-- Botón para eliminar la transacción -->
          <button (click)="deleteTransaction(transaction.id!)" class="btn btn-danger btn-sm" title="Eliminar" data-toggle="tooltip" data-placement="top">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
