<div class="container">
  <h3 class="h3">Listado de Movimientos Objeto</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ getTransactionTypeLabel(transaction.transactionType) }}</td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.price || '-' }}</td>
        <td>
          <!-- Botón para editar la transacción -->
          <button
          (click)="editTransaction(transaction.id!)"
          class="btn btn-success btn-sm"
          title="Editar"
          data-toggle="tooltip"
          data-placement="top">
          <i class="bi bi-pencil"></i>
        </button>
          <!-- Botón para eliminar la transacción -->
          <button
          (click)="deleteTransaction(transaction.id!)"
          class="btn btn-danger btn-sm"
          title="Eliminar"
          data-toggle="tooltip"
          data-placement="top">
          <i class="bi bi-trash"></i>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
