<h2>Gestión de Article</h2>

<form [formGroup]="articleForm" (ngSubmit)="addArticle()">
  <div class="form-group">
    <label for="identifier">Identificador (obligatorio si es Registrable)</label>
    <input id="identifier" formControlName="identifier" class="form-control" />
  </div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input id="name" formControlName="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <input id="description" formControlName="description" class="form-control" />
  </div>
  <!-- <div class="form-group">
    <label for="location">Ubicación</label>
    <input id="location" formControlName="location" class="form-control" />
  </div> -->
  <div class="form-group">
    <label for="articleType">Tipo</label>
    <select id="articleType" formControlName="articleType" class="form-control">
      <option [value]="ArticleType.REGISTRABLE">Registrable</option>
      <option [value]="ArticleType.NON_REGISTRABLE">No Registrable</option>
    </select>
  </div>
  <div class="form-group">
    <label for="articleCondition">Estado</label>
    <select id="articleCondition" formControlName="articleCondition" class="form-control">
      <option [value]="ArticleStatus.FUNCTIONAL">Funcional</option>
      <option [value]="ArticleStatus.DEFECTIVE">Defectuoso</option>
      <option [value]="ArticleStatus.UNDER_REPAIR">En Reparación</option>
    </select>
  </div>
  <div class="form-group">
    <label for="articleCategory">Categoría</label>
    <select id="articleCategory" formControlName="articleCategory" class="form-control">
      <option [value]="ArticleCategory.DURABLES">Durables</option>
      <option [value]="ArticleCategory.CONSUMABLES">Consumibles</option>
      <option [value]="ArticleCategory.MATERIALS_CONSTRUCTION">Materiales de Construcción</option>
      <option [value]="ArticleCategory.OTHERS">Otros</option>
    </select>
  </div>
  <div class="form-group">
    <label for="measurementUnit">Unidad de Medida</label>
    <select id="measurementUnit" formControlName="measurementUnit" class="form-control">
      <option [value]="MeasurementUnit.LITERS">Litros</option>
      <option [value]="MeasurementUnit.KILOS">Kilos</option>
      <option [value]="MeasurementUnit.UNITS">Unidades</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary mt-3">
    {{ isEditing ? 'Modificar Article' : 'Agregar Article' }}
  </button>
  <button type="button" class="btn btn-secondary mt-3 ml-2" (click)="resetForm()" *ngIf="isEditing">
    Cancelar
  </button>
</form>

