<div class="m-4">
    @if(!isEdit){
        <h2 class="mb-4">Registrar Empleado:</h2>
    }
    @else {
        <h2 class="mb-4">Modificar Empleado:</h2>
    }
    <form [formGroup]="employeeForm" (submit)="saveEmployee()" class="mt-3">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="firstName" class="form-label">Nombre:</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Ingrese el nombre"
                        [ngClass]="{'is-invalid': employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched, 
                                      'is-valid': employeeForm.get('firstName')?.valid && employeeForm.get('firstName')?.touched}">
                    </div>
                    @if (employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched) {
                      <div class="text-danger small mt-1">
                          El nombre es requerido.
                      </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="lastName" class="form-label">Apellido:</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName" 
                            placeholder="Ingrese el apellido"
                            [ngClass]="{'is-invalid': employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched,
                                      'is-valid': employeeForm.get('lastName')?.valid && employeeForm.get('lastName')?.touched}">
                    </div>
                    @if (employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched) {
                      <div class="text-danger small mt-1">
                          El apellido es requerido.
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="employeeType" class="form-label">Tipo:</label>
                        <select formControlName="employeeType" class="form-select" id="employeeType"
                            [ngClass]="{'is-invalid': employeeForm.get('employeeType')?.invalid && employeeForm.get('employeeType')?.touched,
                                      'is-valid': employeeForm.get('employeeType')?.valid && employeeForm.get('employeeType')?.touched}">
                            @for (type of employeeTypes; track $index) {
                                <option value="{{type}}">{{type}}</option>
                            }
                        </select>
                    </div>
                    @if (employeeForm.get('employeeType')?.invalid && employeeForm.get('employeeType')?.touched) {
                      <div class="text-danger small mt-1">
                          El tipo de empleado es requerido.
                      </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="hiringDate" class="form-label">Fecha de Contratación:</label>
                        <input formControlName="hiringDate" type="date" class="form-control" id="hiringDate" 
                            [ngClass]="{'is-invalid': employeeForm.get('hiringDate')?.invalid && employeeForm.get('hiringDate')?.touched,
                                      'is-valid': employeeForm.get('hiringDate')?.valid && employeeForm.get('hiringDate')?.touched}"/>
                    </div>
                    @if (employeeForm.get('hiringDate')?.invalid && employeeForm.get('hiringDate')?.touched) {
                      <div class="text-danger small mt-1">
                          La fecha de contratación es requerida.
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="documentType" class="form-label">Tipo de Documento:</label>
                        <select formControlName="documentType" class="form-select" id="documentType"
                            [ngClass]="{'is-invalid': employeeForm.get('documentType')?.invalid && employeeForm.get('documentType')?.touched,
                                      'is-valid': employeeForm.get('documentType')?.valid && employeeForm.get('documentType')?.touched}">
                            @for (type of documentTypes; track $index) {
                                <option value="{{type}}">{{type}}</option>
                            }
                        </select>
                    </div>
                    @if (employeeForm.get('documentType')?.invalid && employeeForm.get('documentType')?.touched) {
                      <div class="text-danger small mt-1">
                          El tipo de documento es requerido.
                      </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="docNumber" class="form-label">Documento:</label>
                        <input type="text" formControlName="docNumber" class="form-control" id="docNumber" 
                            placeholder="Ingrese el número de documento"
                            [ngClass]="{'is-invalid': employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched,
                                      'is-valid': employeeForm.get('docNumber')?.valid && employeeForm.get('docNumber')?.touched}">
                    </div>
                    @if (employeeForm.get('docNumber')?.invalid && employeeForm.get('docNumber')?.touched) {
                      <div class="text-danger small mt-1">
                          El número de documento es requerido.
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="salary" class="form-label">Salario:</label>
                        <div class="input-group ms-2">
                            <span class="input-group-text">$</span>
                            <input type="number" formControlName="salary" class="form-control" id="salary" 
                                placeholder="Ingrese el salario"
                                [ngClass]="{'is-invalid': employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched,
                                          'is-valid': employeeForm.get('salary')?.valid && employeeForm.get('salary')?.touched}">
                        </div>
                    </div>
                    @if (employeeForm.get('salary')?.invalid && employeeForm.get('salary')?.touched) {
                      <div class="text-danger small mt-1">
                          El salario es requerido.
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="justify-content-between col-md-12 text-end">
            <button type="button" class="btn btn-secondary me-2" (click)="return()">Cancelar</button>
            @if(employeeForm.valid){
                <button type="submit" class="btn btn-primary">Guardar</button>
            }
            @else {
                <button type="submit" class="btn btn-primary" disabled>Guardar</button>
            }
        </div>
    </form>
</div>
