<div class="container">
  <form [formGroup]="transactionForm" (ngSubmit)="addTransaction()">

    <h2 class="h1 mb-4">Registrar Transacción</h2>

    <!-- Primera fila - Dos columnas -->
    <div class="row">
      <!-- Tipo de Transacción -->
      <div class="col-md-6 d-flex align-items-center mb-3">
        <label style="display: inline-flex; align-items: center; margin-right: 8px;" for="transactionType">
          Tipo <span style="color: red; margin-left: 2px;">*</span>:
        </label>
        <select id="transactionType" formControlName="transactionType" class="form-select">
          <option value="ENTRY">Ingreso</option>
          <option value="OUTPUT">Egreso</option>
        </select>
      </div>
      <!-- Cantidad -->
      <div class="col-md-6 d-flex align-items-center mb-3">
        <label style="display: inline-flex; align-items: center; margin-right: 8px;" for="quantity">
          Cantidad <span style="color: red; margin-left: 2px;">*</span>:
        </label>
        <input id="quantity" formControlName="quantity" type="text" class="form-control" />
      </div>
    </div>

    <!-- Segunda fila - Dos columnas -->
    <div class="row">
      <!-- Precio -->
      <div class="col-md-6 d-flex align-items-center mb-3" *ngIf="transactionForm.get('transactionType')?.value === 'ENTRY'">
        <label style="display: inline-flex; align-items: center; margin-right: 8px;" for="price">Precio:</label>
        <input id="price" formControlName="price" type="text" class="form-control" />
      </div>
      <!-- Fecha -->
      <div class="col-md-6 d-flex align-items-center mb-3">
        <label style="display: inline-flex; align-items: center; margin-right: 8px;" for="transaction_date">
          Fecha <span style="color: red; margin-left: 2px;">*</span>:
        </label>
        <input id="transaction_date" formControlName="transaction_date" type="date" class="form-control" />
      </div>
    </div>
  <!-- Botones -->
  <div class="row text-end">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">
        {{ isEditing ? 'Guardar Cambios' : 'Registrar' }}
      </button>
      <button type="button" class="btn btn-secondary mt-3 ms-2" (click)="resetForm()" *ngIf="isEditing">
        Cancelar
      </button>
    </div>
  </div>


  </form>
</div>


<!-- <button type="submit" class="btn btn-primary mt-3">
  {{ isEditing ? 'Guardar Cambios' : 'Agregar Transacción' }}
</button>
<button type="button" class="btn btn-secondary mt-3 ml-2" (click)="resetForm()" *ngIf="isEditing">
  Cancelar
</button> -->


<!-- <h3>Lista de Transacciones</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Inventario (Ítem)</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td> -->
        <!-- Verificamos que el inventario y el ítem existen antes de intentar acceder a ellos -->
        <!-- {{ inventoryMap[transaction.inventory_id] ?
          (articleMap[inventoryMap[transaction.inventory_id].article_id].name || 'Desconocido') : 'Inventario no encontrado' }}
        ({{ inventoryMap[transaction.inventory_id] ?
          (articleMap[inventoryMap[transaction.inventory_id].article_id].identifier || 'Sin Identificador') : '' }})
      </td>
      <td>{{ transaction.quantity }}</td>
      <td>{{ transaction.price || '-' }}</td>
      <td>{{ transaction.transaction_type }}</td>
      <td>
        <button (click)="editTransaction(transaction)" class="btn btn-warning">Editar</button>
        <button (click)="deleteTransaction(transaction.id!)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table> -->
