<div class="container mt-5">
  <h3 class="h3">Tabla de Inventarios</h3>
  <!-- Botonera -->
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" [routerLink]="['/articles/article']" title="Nuevo">
      <i class="bi bi-plus"></i>
    </button>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Artículo</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Medida</th>
          <th>Stock Mínimo</th>
          <th>Ubicación</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventories">
          <td class="text-center">{{ inventory.article.identifier || "-" }}</td>
          <td>{{ inventory.article.name }}</td>
          <td>{{ inventory.article.description }}</td>
          <td class="text-center">{{ inventory.stock }}</td>
          <td>{{ getDisplayUnit(inventory.article.measurementUnit) }}</td>
          <td class="text-center">{{ inventory.minStock || "-" }}</td>
          <td [ngClass]="{ 'text-center': !inventory.location }">{{ inventory.location || "-" }}</td>
          <td>
            @if (inventory.status.toString() == "ACTIVE") {
              <p class="mb-0">
                <i class="bi bi-check2-circle text-success" style="font-size: 1.5rem;"></i>
              </p>
            } @else {
              <p class="mb-0">
                <i class="bi bi-x-circle text-danger" style="font-size: 1.5rem;"></i>
              </p>
            }
          </td>
          <!--Clases de activo o inactivo-->
          <td>
            <div class="btn-group" role="group">
              <!-- Botón principal que despliega el menú -->
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <!-- Opción para ver transacciones -->
                <li>
                  <a class="dropdown-item" (click)="onTransactions(inventory)" title="Ver Movimientos">
                    <!-- <i class="bi bi-eye"></i> -->
                     Ver Movimientos
                  </a>
                </li>

                @if (inventory.status.toString() == "ACTIVE") {
                  <!-- Opción para realizar transacción -->
                  <li>
                    <a class="dropdown-item" (click)="onNewTransaction(inventory.id)" title="Realizar Movimiento">
                      <!-- <i class="bi bi-plus-circle"></i> -->
                      Realizar Movimiento
                    </a>
                  </li>
                  <!-- Opción para editar el inventario -->
                  <li>
                    <a class="dropdown-item" (click)="onInventoryUpdate(inventory)" title="Editar">
                      <!-- <i class="bi bi-pencil"></i> -->
                      Editar
                    </a>
                  </li>
                  <!-- Opción para eliminar el inventario -->
                  <li>
                    <a class="dropdown-item text-danger" (click)="deleteInventory(inventory.id!)" title="Eliminar">
                      <!-- <i class="bi bi-trash"></i> -->
                      Eliminar
                    </a>
                  </li>
                }
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
     <!-- Pagination Section -->
     <div class="d-flex justify-content-between align-items-center p-3 border-top">
      <!-- Left side - Page number -->
      <div class="text-muted">
        Página {{ currentPage+1 }} de {{ totalPages }}
      </div>

      <!-- Right side - Items per page dropdown -->
      <div class="d-flex align-items-center">
        <span class="me-2">Elementos por página:</span>
        <select class="form-select form-select-sm" style="width: auto;" [(ngModel)]="itemsPerPage">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>

        <!-- Navigation buttons -->
        <div class="ms-3">
          <button class="btn btn-outline-secondary btn-sm me-1"
                  [disabled]="currentPage === 1"
                  (click)="goToPreviousPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </button>
          <button class="btn btn-outline-secondary btn-sm"
                  [disabled]="currentPage === totalPages"
                  (click)="goToNextPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-article *ngIf="showRegisterForm" (closeRegister)="onRegisterClose()" />
  <app-transaction
    *ngIf="showRegisterTransactionForm"
    [inventoryId]="selectedInventoryId"
    (closeRegisterTransaction)="onRegisterTransactionClose()"
  />
  <app-inventory-transaction-table
    *ngIf="showTransactions"
    [inventory]="selectedInventory"
    (closeTransactions)="onTransactionsClose()"
  ></app-inventory-transaction-table>

  <app-inventory-inventories-update
  *ngIf="showInventoryUpdate"
  [inventory]="selectedInventory"
  (closeModal)="onInventoryUpdateClose()"
></app-inventory-inventories-update>
</div>
