<div class="container mt-5">
  <h3 class="h3">Tabla de Inventarios</h3>
  <!-- Botonera -->
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" [routerLink]="['/articles/article']" title="Nuevo">
      <i class="bi bi-plus"></i>
    </button>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Artículo</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Medida</th>
          <th>Stock Mínimo</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inventory of inventories">
          <td class="text-center">{{ inventory.article.identifier || "-" }}</td>
          <td>{{ inventory.article.name }}</td>
          <td>{{ inventory.article.description }}</td>
          <td class="text-center">{{ inventory.stock }}</td>
          <td>{{ getDisplayUnit(inventory.article.measurementUnit) }}</td>
          <td class="text-center">{{ inventory.minStock || "-" }}</td>
          <td [ngClass]="{ 'text-center': !inventory.location }">
            {{ inventory.location || "-" }}
          </td>
          <td>
            <div class="btn-group" role="group">
              <!-- Botón principal que despliega el menú -->
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <!-- Opción para ver transacciones -->
                <li>
                  <a class="dropdown-item" (click)="onTransactions(inventory.id)" title="Ver Movimientos">
                    <!-- <i class="bi bi-eye"></i> -->
                     Ver Movimientos
                  </a>
                </li>
                <!-- Opción para realizar transacción -->
                <li>
                  <a class="dropdown-item" (click)="onNewTransaction(inventory.id)" title="Realizar Movimiento">
                    <!-- <i class="bi bi-plus-circle"></i> -->
                    Realizar Movimiento
                  </a>
                </li>
                <!-- Opción para editar el inventario -->
                <li>
                  <a class="dropdown-item" (click)="editInventory(inventory)" title="Editar">
                    <!-- <i class="bi bi-pencil"></i> -->
                     Editar
                  </a>
                </li>
                <!-- Opción para eliminar el inventario -->
                <li>
                  <a class="dropdown-item text-danger" (click)="deleteInventory(inventory.id!)" title="Eliminar">
                    <!-- <i class="bi bi-trash"></i> -->
                     Eliminar
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-article *ngIf="showRegisterForm" (closeRegister)="onRegisterClose()" />
  <app-transaction
    *ngIf="showRegisterTransactionForm"
    [inventoryId]="selectedInventoryId"
    (closeRegisterTransaction)="onRegisterTransactionClose()"
  ></app-transaction>
  <app-inventory-transaction-table
    *ngIf="showTransactions"
    [inventoryId]="selectedInventoryId"
    (closeTransactions)="onTransactionsClose()"
  ></app-inventory-transaction-table>

  <!-- <form [formGroup]="inventoryForm" (ngSubmit)="saveInventory()">
  <div class="form-group">
    <label for="article_id">Ítem</label>
    <select id="article_id" formControlName="article_id" class="form-control">
      <option *ngFor="let article of activeArticles" [value]="article.id">
        {{ article.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <input id="stock" formControlName="stock" type="number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="min_stock">Stock Mínimo</label>
    <input id="min_stock" formControlName="min_stock" type="number" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary mt-3">
    {{ isEditing ? 'Guardar Cambios' : 'Agregar Inventario' }}
  </button>
</form> -->
</div>
