<div class="container">
  <h3 class="h3">Listado de Inventarios</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Artículo</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Medida</th>
        <th>Stock Mínimo</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let inventory of inventories">
        <td class="text-center">{{ inventory.article.identifier || '-' }}</td>
        <td>{{ inventory.article.name }}</td>
        <td>{{ inventory.article.description }}</td>
        <td class="text-center">{{ inventory.stock }}</td>
        <td>{{ getDisplayUnit(inventory.article.measurementUnit) }}</td>
        <td class="text-center">{{ inventory.minStock || '-' }}</td>
        <td [ngClass]="{'text-center': !inventory.location}">
          {{ inventory.location || '-' }}</td>
          <td>
            <!-- Botón para ver transacciones, llama a la función viewInventory -->
            <button
              [routerLink]="['/inventories/transactions', inventory.id]"
              class="btn btn-info btn-sm"
              title="Ver Movimientos"
              data-toggle="tooltip"
              data-placement="top">
              <i class="bi bi-eye"></i>
            </button>
            <!-- Botón para realizar transacción, llama a la función transactionInventory -->
            <button
              [routerLink]="['/transactions', inventory.id]"
              class="btn btn-primary btn-sm"
              title="Realizar Movimiento"
              data-toggle="tooltip"
              data-placement="top">
              <i class="bi bi-plus-circle"></i>
            </button>
            <!-- Botón para editar el inventario, llama a la función editInventory -->
            <button
              (click)="editInventory(inventory)"
              class="btn btn-success btn-sm"
              title="Editar"
              data-toggle="tooltip"
              data-placement="top">
              <i class="bi bi-pencil"></i>
            </button>
            <!-- Botón para eliminar el inventario, llama a la función deleteInventory -->
            <button
              (click)="deleteInventory(inventory.id!)"
              class="btn btn-danger btn-sm"
              title="Eliminar"
              data-toggle="tooltip"
              data-placement="top">
              <i class="bi bi-trash"></i>
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- <form [formGroup]="inventoryForm" (ngSubmit)="saveInventory()">
  <div class="form-group">
    <label for="article_id">Ítem</label>
    <select id="article_id" formControlName="article_id" class="form-control">
      <option *ngFor="let article of activeArticles" [value]="article.id">
        {{ article.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <input id="stock" formControlName="stock" type="number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="min_stock">Stock Mínimo</label>
    <input id="min_stock" formControlName="min_stock" type="number" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary mt-3">
    {{ isEditing ? 'Guardar Cambios' : 'Agregar Inventario' }}
  </button>
</form> -->
