<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/employees/list">Consorcio</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" id="navbarDropdown" role="button" ngbDropdownToggle>Empleados</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a ngbDropdownItem routerLink="/employees/list">Listado</a>
            <a ngbDropdownItem routerLink="/employees/form">Formulario</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" id="navbarDropdown" role="button" ngbDropdownToggle>
            Proveedores
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a ngbDropdownItem routerLink="/providers/list">Listado</a>
            <a ngbDropdownItem routerLink="/providers/form">Formulario</a>
          </div>
        </li>


        <li class="nav-item" ngbDropdown>
          <a class="nav-link" id="navbarDropdown" role="button" ngbDropdownToggle>
            Inventario
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a ngbDropdownItem routerLink="/articles/article">Registrar Artículo</a>
            <a ngbDropdownItem routerLink="/inventories">Inventarios</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet class="container"></router-outlet>

