<h2>Gestión de Transacciones</h2>
<form [formGroup]="transactionForm" (ngSubmit)="addTransaction()">

  <div class="form-group">
    <label for="transactionType">Tipo de Transacción</label>
    <select id="transactionType" formControlName="transactionType" class="form-control">
      <option value="ENTRY">Ingreso</option>
      <option value="OUTPUT">Egreso</option>
    </select>
  </div>
<!--
  <div class="form-group">
    <label for="inventory_id">Inventario</label>
    <select id="inventory_id" formControlName="inventory_id" class="form-control">
      <option *ngFor="let inventory of inventories" [value]="inventory.id">
        {{ inventory.article_id }}
      </option>
    </select>
  </div> -->


  <div class="form-group">
    <label for="inventory_id">Inventario</label>
    <select id="inventory_id" formControlName="inventory_id" class="form-control">
      <option *ngFor="let inventory of inventories" [value]="inventory.id">
        {{ articleMap[inventory.article_id].name  }} ({{ articleMap[inventory.article_id].identifier }})
      </option>
    </select>
  </div>


  <div class="form-group">
    <label for="quantity">Cantidad</label>
    <input id="quantity" formControlName="quantity" type="number" class="form-control" />
  </div>

  <div class="form-group" *ngIf="selectedTransactionType === 'ENTRY'">
    <label for="price">Precio</label>
    <input id="price" formControlName="price" type="number" class="form-control" />
  </div>

  <div class="form-group">
    <label for="transaction_date">Fecha</label>
    <input id="transaction_date" formControlName="transaction_date" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary mt-3">
    {{ isEditing ? 'Guardar Cambios' : 'Agregar Transacción' }}
  </button>
  <button type="button" class="btn btn-secondary mt-3 ml-2" (click)="resetForm()" *ngIf="isEditing">
    Cancelar
  </button>


  <h3>Lista de Transacciones</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Inventario (Ítem)</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>
          <!-- Verificamos que el inventario y el ítem existen antes de intentar acceder a ellos -->
          {{ inventoryMap[transaction.inventory_id] ?
            (articleMap[inventoryMap[transaction.inventory_id].article_id].name || 'Desconocido') : 'Inventario no encontrado' }}
          ({{ inventoryMap[transaction.inventory_id] ?
            (articleMap[inventoryMap[transaction.inventory_id].article_id].identifier || 'Sin Identificador') : '' }})
        </td>
        <td>{{ transaction.quantity }}</td>
        <td>{{ transaction.price || '-' }}</td>
        <td>{{ transaction.transaction_type }}</td>
        <td>
          <button (click)="editTransaction(transaction)" class="btn btn-warning">Editar</button>
          <button (click)="deleteTransaction(transaction.id!)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
