<div class="container mt-5">
    <div class="">
        <h3>Lista de Empleados</h3>

        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">Filtros</h5>
            <form [formGroup]="filterForm" class="row g-3">
              <div class="col-md-3">
                <input type="text" 
                       class="form-control" 
                       placeholder="Nombre"
                       formControlName="firstName">
              </div>
              <div class="col-md-3">
                <input type="text" 
                       class="form-control" 
                       placeholder="Apellido"
                       formControlName="lastName">
              </div>
              <div class="col-md-3">
                <select class="form-select" formControlName="employeeType">
                  <option value="">Tipo de Empleado</option>
                  @for(type of employeeTypes; track type) {
                    <option [value]="type">{{type}}</option>
                  }
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-select" formControlName="docType">
                  <option value="">Tipo de Documento</option>
                  @for(type of documentTypes; track type) {
                    <option [value]="type">{{type}}</option>
                  }
                </select>
              </div>
              <div class="col-md-1">
                <button class="btn btn-success w-100" (click)="exportToExcel()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                    <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                  </svg>
                </button>
              </div>
        
              <div class="col-md-3">
                <input type="text" 
                       class="form-control" 
                       placeholder="Número de Documento"
                       formControlName="docNumber">
              </div>
              <div class="col-md-3">
                <input type="date" 
                       class="form-control" 
                       formControlName="hiringDate">
              </div>
              <div class="col-md-3">
                <select class="form-select" formControlName="state">
                  <option value="">Estado</option>
                  @for(status of statusTypes; track status) {
                    <option [value]="status">{{status}}</option>
                  }
                </select>
              </div>
              <div class="col-md-2">
                <input type="number" 
                       class="form-control" 
                       placeholder="Salario"
                       formControlName="salary">
              </div>
              <div class="col-md-1">
                <button class="btn btn-danger w-100" (click)="exportToPDF()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
        
        <div class="table-responsive">
          <table class="table table-hover border rounded-lg overflow-hidden">
            <thead class="bg-dark text-white">
              <tr>
                <th class="py-3 px-4 font-semibold">Empleado</th>
                <th class="py-3 px-4 font-semibold">Tipo</th>
                <th class="py-3 px-4 font-semibold">Documento</th>
                <th class="py-3 px-4 font-semibold">Fecha Contratación</th>
                <th class="py-3 px-4 font-semibold">Estado</th>
                <th class="py-3 px-4 font-semibold">Acciones</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              @for (employee of employeeList; track employee.id) {
                <tr class="border-b border-gray-200 hover:bg-gray-50">
                  <td class="py-3 px-4">{{ employee.lastName }}, {{ employee.firstName }}</td>
                  <td class="py-3 px-4">{{ employee.employeeType }}</td>
                  <td class="py-3 px-4">{{ employee.documentType+': '+employee.docNumber}}</td>
                  <td class="py-3 px-4">{{ employee.hiringDate | date:'dd/MM/yyyy' }}</td>
                  <td class="py-3 px-4">{{ employee.state }}</td>
                  <td>
                        <button (click)="editEmployee(employee.id)" 
                          class="btn btn-sm rounded-md me-2 text-dark"
                          style="background-color: #f59e0b; border-color: #d97706;"
                          onmouseover="this.style.backgroundColor='#d97706';" 
                          onmouseout="this.style.backgroundColor='#f59e0b';">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                          </svg>
                        </button>
                        <button (click)="deleteEmployee(employee.id)" 
                          class="btn btn-sm rounded-md text-dark"
                          style="background-color: #ef4444; border-color: #dc2626;"
                          onmouseover="this.style.backgroundColor='#dc2626';" 
                          onmouseout="this.style.backgroundColor='#ef4444';">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                        </button>
                      </td>
                </tr>
              }
            </tbody>
          </table>
        </div> 
    </div>
  </div>

  <!--
  <div class="table-responsive">
  <table class="table table-hover border rounded-lg overflow-hidden">
    <thead class="bg-dark text-white">
      <tr>
        <th class="py-3 px-4 font-semibold">Empleado</th>
        <th class="py-3 px-4 font-semibold">Tipo</th>
        <th class="py-3 px-4 font-semibold">Documento</th>
        <th class="py-3 px-4 font-semibold">Fecha Contratación</th>
        <th class="py-3 px-4 font-semibold">Estado</th>
        <th class="py-3 px-4 font-semibold">Acciones</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      @for (employee of employeeList; track employee.id) {
        <tr class="border-b border-gray-200 hover:bg-gray-50">
          <td class="py-3 px-4">{{ employee.lastName }}, {{ employee.firstName }}</td>
          <td class="py-3 px-4">{{ employee.employeeType }}</td>
          <td class="py-3 px-4">{{ employee.documentType }}: {{ employee.docNumber }}</td>
          <td class="py-3 px-4">{{ employee.hiringDate | date:'dd/MM/yyyy' }}</td>
          <td class="py-3 px-4">{{ employee.state }}</td>
          <td>
                <button (click)="editEmployee(employee.id)" 
                  class="btn btn-sm rounded-md me-2 text-dark"
                  style="background-color: #f59e0b; border-color: #d97706;"
                  onmouseover="this.style.backgroundColor='#d97706';" 
                  onmouseout="this.style.backgroundColor='#f59e0b';">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                </button>
                <button (click)="deleteEmployee(employee.id)" 
                  class="btn btn-sm rounded-md text-dark"
                  style="background-color: #ef4444; border-color: #dc2626;"
                  onmouseover="this.style.backgroundColor='#dc2626';" 
                  onmouseout="this.style.backgroundColor='#ef4444';">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>
              </td>
        </tr>
      }
    </tbody>
  </table>
</div> 
   -->