<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h3 class="text-center">{{ isEditMode ? 'Editar Proveedor' : 'Agregar Nuevo Proveedor' }}</h3>
        <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="name">Nombre</label>
              <input id="name" formControlName="name" class="form-control" 
                     [ngClass]="{
                       'is-invalid': providerForm.get('name')?.invalid && providerForm.get('name')?.touched, 
                       'is-valid': providerForm.get('name')?.valid && providerForm.get('name')?.touched
                     }" />
              <div class="invalid-feedback" *ngIf="providerForm.get('name')?.invalid && providerForm.get('name')?.touched">
                El nombre es requerido.
              </div>
            </div>
            
            <div class="col-md-6">
              <label for="cuil">CUIL</label>
              <input id="cuil" formControlName="cuil" class="form-control" 
                     [ngClass]="{
                       'is-invalid': providerForm.get('cuil')?.invalid && providerForm.get('cuil')?.touched, 
                       'is-valid': providerForm.get('cuil')?.valid && providerForm.get('cuil')?.touched
                     }" />
              <div class="invalid-feedback" *ngIf="providerForm.get('cuil')?.invalid && providerForm.get('cuil')?.touched">
                El CUIL debe tener 11 caracteres.
              </div>
            </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="service">Servicio</label>
              <input id="service" formControlName="service" class="form-control" 
                     [ngClass]="{
                       'is-invalid': providerForm.get('service')?.invalid && providerForm.get('service')?.touched, 
                       'is-valid': providerForm.get('service')?.valid && providerForm.get('service')?.touched
                     }" />
              <div class="invalid-feedback" *ngIf="providerForm.get('service')?.invalid && providerForm.get('service')?.touched">
                El servicio es requerido.
              </div>
            </div>
  
            <div class="col-md-6">
              <label for="addressId">Dirección</label>
              <select id="addressId" formControlName="addressId" class="form-control"
                      [ngClass]="{
                        'is-invalid': providerForm.get('addressId')?.invalid && providerForm.get('addressId')?.touched, 
                        'is-valid': providerForm.get('addressId')?.valid && providerForm.get('addressId')?.touched
                      }">
                <option *ngFor="let address of addresses" [value]="address.id">
                  {{ address.street_address }}, {{ address.city }}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="providerForm.get('addressId')?.invalid && providerForm.get('addressId')?.touched">
                La dirección es requerida.
              </div>
            </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-md-12">
              <label for="details">Detalles</label>
              <textarea id="details" formControlName="details" class="form-control" 
                        [ngClass]="{
                          'is-invalid': providerForm.get('details')?.invalid && providerForm.get('details')?.touched, 
                          'is-valid': providerForm.get('details')?.valid && providerForm.get('details')?.touched
                        }">
              </textarea>
              <div class="invalid-feedback" *ngIf="providerForm.get('details')?.invalid && providerForm.get('details')?.touched">
                Los detalles son requeridos.
              </div>
            </div>
          </div>
  
          <div class="row mt-3">
            <div class="col-md-12 text-end">
              <button type="button" class="btn btn-secondary me-2" (click)="resetForm()" *ngIf="isEditMode">Cancelar</button>
              <button type="submit" class="btn btn-primary" [disabled]="providerForm.invalid">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  