<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3 class="text-center">{{ isEditMode ? 'Editar Proveedor' : 'Agregar Nuevo Proveedor' }}</h3>
            <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name"class="form-label">Nombre</label>
                        <input id="name" formControlName="name" class="form-control" 
                               [ngClass]="{'is-invalid': providerForm.get('name')?.invalid && providerForm.get('name')?.touched, 
                                           'is-valid': providerForm.get('name')?.valid && providerForm.get('name')?.touched}" />
                        @if (providerForm.get('name')?.invalid && providerForm.get('name')?.touched) {
                            <div class="invalid-feedback">
                                El nombre es requerido.
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label for="serviceType" class="form-label">Tipo de Servicio</label>
                        <select id="serviceType" formControlName="serviceType" class="form-control" 
                                [ngClass]="{'is-invalid': providerForm.get('serviceType')?.invalid && providerForm.get('serviceType')?.touched, 
                                            'is-valid': providerForm.get('serviceType')?.valid && providerForm.get('serviceType')?.touched}">
                            @for (type of serviceTypes; track $index) {
                                <option [value]="type">{{ type }}</option>
                            }
                        </select>
                        @if (providerForm.get('serviceType')?.invalid && providerForm.get('serviceType')?.touched) {
                            <div class="invalid-feedback">
                                El tipo de servicio es requerido.
                            </div>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="contact" class="form-label">Contacto</label>
                        <input id="contact" formControlName="contact" class="form-control" 
                               [ngClass]="{'is-invalid': providerForm.get('contact')?.invalid && providerForm.get('contact')?.touched, 
                                           'is-valid': providerForm.get('contact')?.valid && providerForm.get('contact')?.touched}" />
                        @if (providerForm.get('contact')?.invalid && providerForm.get('contact')?.touched) {
                            <div class="invalid-feedback"> 
                                El contacto es requerido. 
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label">Dirección</label>
                        <input id="address" formControlName="address" class="form-control" 
                               [ngClass]="{'is-invalid': providerForm.get('address')?.invalid && providerForm.get('address')?.touched, 
                                           'is-valid': providerForm.get('address')?.valid && providerForm.get('address')?.touched}" />
                        @if (providerForm.get('address')?.invalid && providerForm.get('address')?.touched) {
                            <div class="invalid-feedback">
                                La dirección es requerida.
                            </div>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="details" class="form-label">Detalles</label>
                        <textarea id="details" formControlName="details" class="form-control" 
                                  [ngClass]="{'is-invalid': providerForm.get('details')?.invalid && providerForm.get('details')?.touched, 
                                              'is-valid': providerForm.get('details')?.valid && providerForm.get('details')?.touched}">
                        </textarea>
                        @if (providerForm.get('details')?.invalid && providerForm.get('details')?.touched) {
                            <div class="invalid-feedback ">
                                Los detalles son requeridos.
                            </div>
                        }                        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="state" class="form-label">Estado</label>
                        <select id="state" formControlName="state" class="form-control" 
                                [ngClass]="{'is-invalid': providerForm.get('state')?.invalid && providerForm.get('state')?.touched, 
                                            'is-valid': providerForm.get('state')?.valid && providerForm.get('state')?.touched}">
                            <option *ngFor="let state of statusTypes" [value]="state">{{ state }}</option>
                        </select>
                        @if (providerForm.get('state')?.invalid && providerForm.get('state')?.touched) {
                            <div class="invalid-feedback">
                                El estado es requerido.
                            </div>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-secondary me-2" (click)="resetForm()" *ngIf="isEditMode">Cancelar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="providerForm.invalid">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>